In [1]:
#Question1

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort() #sorts the array of ages 
Maximum=max(ages) #This gives the maximum of ages
Minimum=min(ages) #This gives the minimum of ages
print("The Maximun age is ", Maximum)
print("The Minimum age is",Minimum)  #prints the Maximum and minimum of ages

#Adding the maximum and minimun of age to the array of ages
ages.append(max(ages))  
ages.append(min(ages))  

#To find the median of ages
length = len(ages)
if(length%2 !=0): #if the length of array is odd, median of the array is the middle element
    median = ages[length//2]
   
else: #if the length of array is even, median of the array is average of the middle two elements
     median = (ages[length//2]+ ages[(length//2) +1])/2


sumOfAges=sum(ages) #gives the sum of all the ages.
print("The average of ages is",sumOfAges/len(ages)) #average = sum divided by number of ages
range=Maximum-Minimum #range = maximum - minimum
print("Range is",range) #prints range

The Maximun age is  26
The Minimum age is 19
The average of ages is 22.75
Range is 7

In [2]:
#Question2
dog={} #Creating empty dog dictionary
#adding name, color, breed, legs, age to the dog dictionary
dog['Name']='Pluto'
dog['Color']='White'
dog['Breed']='Maltese'
dog['Legs']=4
dog['Age']=2

print("Dog dictionary",dog) #printing dog dictionary

#creating student dictionary
Student={}

#adding values to student dictionary
Student["first_name"]='Sanjana'
Student["last_name"]='Arkatala'
Student["gender"]='Female'
Student["age"]=25
Student["marital_status"]='Single'
Student['skills']=['Java',"Python"]
Student["country"]="India"
Student['city']="Hyderabad"
Student["Address"]="Gachibowli"
print("Student dictionary",Student) #printing student dictionary
print("Length of the student dictonary is ",len(Student)) #prints the length
print("Data type of value of skills",type(Student['skills'])) #prints the type of values of skills
Student['skills'].append('Javascript') #adding Javascript to student skills
print("list of keys are",list(Student.keys())) 
print("list of values are",list(Student.values()))

Dog dictionary {'Name': 'Pluto', 'Color': 'White', 'Breed': 'Maltese', 'Legs': 4, 'Age': 2}
Student dictionary {'first_name': 'Sanjana', 'last_name': 'Arkatala', 'gender': 'Female', 'age': 25, 'marital_status': 'Single', 'skills': ['Java', 'Python'], 'country': 'India', 'city': 'Hyderabad', 'Address': 'Gachibowli'}
Length of the student dictonary is  9
Data type of value of skills <class 'list'>
list of keys are ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'Address']
list of values are ['Sanjana', 'Arkatala', 'Female', 25, 'Single', ['Java', 'Python', 'Javascript'], 'India', 'Hyderabad', 'Gachibowli']

In [3]:
#Question3
sisters=('Manasa','Mounika','Aishwarya') #tuple containing sisters
brothers=('Prudhvi','Harshit','Saideep') #tuple containing brothers
siblings=sisters+brothers #creating new tuple called siblings which contains both brothers and sisters
print("My siblings are",siblings)
print("Total Number of siblings:",len(siblings))
family_members=siblings+('Nirupama',"Venkat") #creating family numbers tuple and adding parents names to it.
print("My family members are",family_members)

My siblings are ('Manasa', 'Mounika', 'Aishwarya', 'Prudhvi', 'Harshit', 'Saideep')
Total Number of siblings: 6
My family members are ('Manasa', 'Mounika', 'Aishwarya', 'Prudhvi', 'Harshit', 'Saideep', 'Nirupama', 'Venkat')

In [4]:
#Question4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
#creating a set A
A = {19, 22, 24, 20, 25, 26}
#creating a set B
B = {19, 22, 20, 25, 26, 24, 28, 27}
#creating a list of ages
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("length of the set it_companies",len(it_companies))
it_companies.add('Twitter') #adding Twitter to the it_companies
print("IT comapanies are",it_companies) 
it_companies.update({'ADP','ValueLabs',"Accenture"})  #adding multiple it companies to the set
print("The updated it companies are",it_companies) 
it_companies.remove('ValueLabs') # removing ValueLabs from the it_companies list.
print("The updated list is:",it_companies)
print("A union B is:",A.union(B)) #prints A union B
print("A intersection B is: ",A.intersection(B)) #prints A intersection B
print(A.issubset(B)) #checking if A is subset of B
print(A.isdisjoint(B)) # cheking whether the A and B are disjoint sets
print("joining A with B",A.union(B)) 
print("joining B with A",B.union(A))
print("symmetric diffrence beteween A and B",A.symmetric_difference(B))  
print(A.clear()) # deleting set A
print(B.clear()) # deleting set B
print(it_companies.clear()) #deleting set it_companies
print("set of ages:",set(age)) #creating set of ages
print("length of the set of list is: ",len(set(age)))
print("lenght of the set is :",len(age))

length of the set it_companies 7
IT comapanies are {'Apple', 'Facebook', 'Google', 'Twitter', 'Oracle', 'Amazon', 'IBM', 'Microsoft'}
The updated it companies are {'Apple', 'Accenture', 'Amazon', 'Google', 'Twitter', 'ValueLabs', 'Oracle', 'IBM', 'Microsoft', 'ADP', 'Facebook'}
The updated list is: {'Apple', 'Accenture', 'Amazon', 'Google', 'Twitter', 'Oracle', 'IBM', 'Microsoft', 'ADP', 'Facebook'}
A union B is: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B is:  {19, 20, 22, 24, 25, 26}
True
False
joining A with B {19, 20, 22, 24, 25, 26, 27, 28}
joining B with A {19, 20, 22, 24, 25, 26, 27, 28}
symmetric diffrence beteween A and B {27, 28}
None
None
None
set of ages: {19, 22, 24, 25, 26}
length of the set of list is:  5
lenght of the set is : 8

In [4]:
#Question5
import math #importing math package
radius=30 #intializing radius with 30
_area_of_circle_= int(math.pi*(radius**2)) #calculating the area ond circumference of the circle
print("Area of circle is: ",_area_of_circle_)
_circumference_of_circle_= int(2*math.pi*radius) #calculating circumference of the circle
print("Circumference  of the circle is ",_circumference_of_circle_)
rad=int(input("Enter the Radius ")) #taking the input radius 
print("Area of circle is: ",int(math.pi*(rad**2)))

Area of circle is:  2827
Circumference  of the circle is  188
Enter the Radius 17
Area of circle is:  907

In [5]:
#Question6
sentence="I am a teacher and I love to inspire and teach people"
print("No of unique words in the given phrase are: ",len(set(sentence.split(' '))))

No of unique words in the given phrase are:  10

In [6]:
#Question7
print("Name\tAge\tCountry\tCity") #printing the strings using tab escape sequence
print("Asabensh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabensh	250	Finland	Helsinki

In [2]:
#Question8
radius=10 #initlizing radius with a value 10
area=3.14*radius**2 #calculating area of circle
print('The area of a circle with radius 10 is {0} meters square.'.format(int(area)))

The area of a circle with radius 10 is 314 meters square.

In [1]:
#Question9
weights=[] #creating the weights list
N=int(input("Enter the number of students ")) #taking input here
for i in range(N):
    weights.append(int(input("Enter the weight of the student  "+str(i+1)+" :")))
kiloGrams=[] #creating the kilograms list
for i in weights:
    kiloGrams.append(float(i/2.2086))  #conversion from pounds to kilograms
print("The converted list is: ",kiloGrams)

Enter the number of students 5
Enter the weight of the student  1 :70
Enter the weight of the student  2 :75
Enter the weight of the student  3 :110
Enter the weight of the student  4 :63
Enter the weight of the student  5 :124
The converted list is:  [31.694285973014576, 33.95816354251562, 49.80530652902291, 28.52485737571312, 56.14416372362582]